*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
}
/* nav section start*/

/* Andy Bells CSS Reset *
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

 CUSTOM *
.nav-item:not(:last-child) {
  margin-right: 20px;
}

 nav section ends*/

 /* Hero Section Start*/

 /** banner section **/

.banner_main {
    background: url(images/Hotel\ Front\ Desk\ Secrets_\ 9\ Ways\ to\ Improve\ Your\ Stay.jpeg);
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.text-bg {
    text-align: center;
    padding-bottom: 50px;
}

.text-bg h1 {
    color: #000;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.text-bg span {
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    display: block;
}

.text-bg p {
    color: #000;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 60px;
}

.text-bg a {
    font-size: 17px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    border-radius: 10px
}

.text-bg a:hover {
    background-color: #eec237;
    color: #fff;
    transition: ease-in all 0.5s;
    border-radius: 25px
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.titlepage h2 {
    font-size: 55px;
    color: #313131;
    line-height: 60px;
    font-weight: bold;
    padding: 0;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/** banner section **/

.form_book {
    background: #fff;
    margin-top: -104px;
    padding: 30px 8px 0px 60px;
    border-radius: 40px 40px 0px 0px;
}

.form_book .date {
    color: #7e7e7e;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 17px;
}

.book_n {
   border: inherit;
   border-radius: 20px;
   background-color: #eeeeee;
   width: 100%;
   font-size: 16px;
   height: auto;
   line-height: normal;
   padding: 10px 20px;
    -webkit-appearance: none !important;
}


.book_btn {
    font-size: 17px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    padding: 5px 0px;
    width: 100%;
    max-width: 161px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    border-radius: 10px;
    margin-top: 33px;
}

.book_btn:hover {
    background-color: #eec237;
    color: #fff;
    transition: ease-in all 0.5s;
    border-radius: 25px
}


/** banner section **/


/* footer section start */
.footer{
    background: #4EB867;
    margin-top: 100px !important;

}
.footer-imagee{
    width: 40px;
}

.footer-list{
    list-style-type: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.footer-list li{
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 300;
    line-height: 25.52px !important;
    color: #fff;
    
}



.foot-links{
    list-style: none;
}

.list-head{
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;   
    margin-top: 15px !important; 
}

.list-word{
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 21.79px;
    text-align: left; 
    margin-top: 10px !important;   
}

.foot-link{
    text-decoration: none;
}



.company-name-ii{
    font-family: Plus Jakarta Sans;
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 40.32px !important;
    letter-spacing: 0.01em !important;
    text-align: left !important;
    color: #184070 !important;
    display: flex;
    align-items: center;  
}

.company-name-ii img{
    margin-right: 10px;
}

.footer-navbrand img{
    color: white;
}

.footer-icons i{
    margin: 0 10px;
    font-size: 22px;
}

.footer-figorate{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 40.32px;
    letter-spacing: 0.01em;
    text-align: left;
    color: linear-gradient(90deg, #000000 0%, #184070 76.5%) !important;      
}

.listtttt{
    margin-top: 10px !important;
    font-size: 16px !important;
    font-family: Open Sans !important;
    font-weight: 400 !important;
    line-height: 21.79px;
}

.footer-linkk{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 21.79px;
    text-align: center;
    color: #fff !important;   
    margin-right: 66px !important; 
    margin-bottom: 100px !important;
    cursor: pointer;
}

.footer-linkk-ii{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 21.79px;
    text-align: center;
    color: #fff !important;
}


.footer-imggg{
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 768px) {
    .footer-figorate{
        font-family: Plus Jakarta Sans;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.32px;
        letter-spacing: 0.01em;
        text-align: left;
        color: linear-gradient(90deg, #000000 0%, #184070 76.5%) !important;
        
    }

    .first-list-word{
        font-family: Space Grotesk;
        font-size: 15px !important;
        font-weight: 700 !important;
        line-height: 26.4px;
        text-align: left;        
        color: #fff;   
    }

    .footer-list li{
        font-family: Space Grotesk;
        font-size: 20px;
        font-weight: 300;
        line-height: 25.52px;
        text-align: left;        
        color: #fff; 
    }

    .footer-icons{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer-icons i{
        margin: 0 20px;
        font-size: 16px;
    }

    .company-name-ii{
        font-family: Plus Jakarta Sans !important;
        font-size: 22px !important;
        font-weight: 600 !important;
        line-height: 30.32px !important;
        letter-spacing: 0.01em !important;
        text-align: left !important;
        color: #184070 !important;
        display: flex;
        align-items: center;  
    }

    .footer-linkk{
        font-family: Open Sans;
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 21.79px;
        text-align: center;
        color: #fff !important;   
        margin-right: 10px !important; 
        margin-bottom: 0px !important;
    }

    .footer-linkk-ii{
        font-family: Open Sans;
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 21.79px;
        text-align: center;
        color: #fff !important;
    }

    .text-light small{
        font-size: 10px !important;
        text-align: center !important;
    }

    .footer-imggg{
        filter: brightness(0) invert(1);
        width: 24px;
        font-size: 18px !important;
    }

    .footer-imggg{
        filter: brightness(0) invert(1);
        width: 24px;
        font-size: 18px !important;
    }

    .footer-navv{
        display: flex;
        flex-direction: column;
    }

    .list-head{
        color: #fff;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600 !important;
        line-height: 24.51px;
        text-align: left;    
    }
    
    .list-word{
        color: #fff;
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400 !important;
        line-height: 21.79px;
        text-align: left;    
    }
}
/* footer section end */








